In [1]:
import pandas as pd
import os

In [58]:
x = "Total Annual Memberships Sold"
print("Annual Member" in x and "all time" not in x.lower())

True

In [70]:
data_frames = []

def rename_columns(df):
    annual_member_column = None
    day_passes_column = None
    
    for column in list(df.columns):
        if "Annual Member" in column and "Sign-Ups" not in column:
            annual_member_column = column
            df = df.rename(columns={annual_member_column: "Annual Memberships Sold"})
        if "24-Hour" in column:
            day_passes_column = column
            df = df.rename(columns={day_passes_column: "24-Hour Passes Purchased (midnight to 11:59 pm)"})
    return df
        

for subdir, dirs, files in os.walk('./'):
    for file in files:
        if ".csv" in file:
            data = pd.read_csv(file)
            updated_data = rename_columns(data)
            data_frames.append(updated_data)
            
data_frames[0]

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Annual Memberships Sold,Annual Member Sign-Ups (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm)
0,10/1/2013,44772,4013952,73.665,"7,713,294",85494,258,1004
1,10/2/2013,45667,4059619,76.149,"7,789,442",85773,279,1129
2,10/3/2013,44472,4104091,72.635,"7,862,077",86333,560,1076
3,10/4/2013,44089,4148180,74.223,"7,936,300",87112,779,1434
4,10/5/2013,37683,4185863,73.892,"8,010,192",87862,750,2971
5,10/6/2013,29029,4214892,49.887,"8,060,079",88604,742,1368
6,10/7/2013,27504,4242396,40.324,"8,100,403",89189,585,421
7,10/8/2013,42200,4284596,69.116,"8,169,518",89521,332,896
8,10/9/2013,40607,4325203,62.214,"8,231,732",89769,248,714
9,10/10/2013,34107,4359310,49.732,"8,281,464",89951,182,482
10,10/11/2013,36381,4395691,56.497,"8,337,961",90121,170,798
11,10/12/2013,35480,4431171,69.841,"8,407,802",90301,180,2855
12,10/13/2013,31501,4462672,59.556,"8,467,357",90522,221,2208
13,10/14/2013,36186,4498858,60.261,"8,527,618",90770,248,1291
14,10/15/2013,41459,4540317,66.625,"8,594,243",90977,207,934
15,10/16/2013,40644,4580961,64.115,"8,658,358",91171,194,789
16,10/17/2013,40363,4621324,63.927,"8,722,285",91343,172,815
17,10/18/2013,41775,4663099,69.165,"8,791,450",91551,208,1267
18,10/19/2013,32469,4695568,59.523,"8,850,973",91659,108,2146
19,10/20/2013,32016,4727584,60.670,"8,911,643",91815,156,2114
20,10/21/2013,38348,4765932,62.216,"8,973,859",92029,214,849
21,10/22/2013,39741,4805673,60.424,"9,034,282",92213,184,636
22,10/23/2013,35358,4841031,50.319,"9,084,602",92324,111,355
23,10/24/2013,35238,4876269,50.610,"9,135,212",92410,86,444
24,10/25/2013,33711,4909980,50.109,"9,185,320",92505,95,592
25,10/26/2013,26653,4936633,45.372,"9,230,693",92598,93,1387
26,10/27/2013,25980,4962613,44.415,"9,275,108",92698,100,1362
27,10/28/2013,34298,4996911,52.643,"9,327,752",92844,146,530
28,10/29/2013,36280,5033191,53.765,"9,381,516",92944,100,450
29,10/30/2013,37817,5071008,54.940,"9,436,457",93035,91,453
...,...,...,...,...,...,...,...,...
62,12/2/2013,26522,5877531,37.728,"10,628,564",95071,74,240
63,12/3/2013,29766,5907297,42.165,"10,670,729",95140,69,252
64,12/4/2013,30472,5937769,43.920,"10,714,650",95197,57,252
65,12/5/2013,29222,5966991,41.990,"10,756,639",95250,53,311
66,12/6/2013,11626,5978617,14.674,"10,771,314",95296,46,62
67,12/7/2013,16868,5995485,24.381,"10,795,695",95334,38,456
68,12/8/2013,10892,6006377,14.170,"10,809,865",95354,20,180
69,12/9/2013,16192,6022569,20.537,"10,830,402",95401,35,58
70,12/10/2013,13947,6036516,17.766,"10,848,168",95418,34,39
71,12/11/2013,20369,6056885,25.839,"10,874,007",95444,26,93
72,12/12/2013,18552,6075437,23.242,"10,897,249",95479,35,69
73,12/13/2013,19381,6094818,25.662,"10,922,911",95507,28,161
74,12/14/2013,3983,6098801,5.072,"10,927,983",95516,9,39
75,12/15/2013,8127,6106928,10.192,"10,938,175",95535,19,76
76,12/16/2013,16842,6123770,21.353,"10,959,528",95568,33,67
77,12/17/2013,8552,6132322,11.009,"10,970,536",95596,28,15
78,12/18/2013,16246,6148568,21.251,"10,991,787",95628,32,89
79,12/19/2013,20309,6168877,26.954,"11,018,742",95662,34,157
80,12/20/2013,23849,6192726,33.510,"11,052,252",95687,25,365
81,12/21/2013,19362,6212088,32.360,"11,084,612",95723,36,962
82,12/22/2013,16338,6228426,26.291,"11,110,903",95765,42,741
83,12/23/2013,7516,6235942,9.407,"11,120,309",95793,28,70
84,12/24/2013,11971,6247913,15.563,"11,135,872",95823,30,175
85,12/25/2013,3523,6251436,5.458,"11,141,330",95869,46,184
86,12/26/2013,10570,6262006,13.556,"11,154,886",95920,51,134
87,12/27/2013,12649,6274655,17.629,"11,172,515",95969,49,279
88,12/28/2013,12867,6287522,21.988,"11,194,503",96005,36,821
89,12/29/2013,4070,6291592,4.986,"11,199,489",96032,27,104
90,12/30/2013,14222,6305814,19.982,"11,219,471",96084,52,336
91,12/31/2013,11349,6317163,14.856,"11,234,326",96125,41,237

In [76]:
columns = []
for df in data_frames:
    columns += list(df.columns)
    
possible_columns = set(columns)

column_count = {}

for column in possible_columns:
    column_count[column] = 0

for df in data_frames:
    for column in list(df.columns):
        column_count[column] += 1
        
print(column_count)


name = []
count = []

for key in column_count:
    name.append(key)
    count.append(column_count[key])
    
count_df = pd.DataFrame({"name":name, "count":count})
count_df.sort_values("count")


shared_columns = list(count_df[count_df["count"] == 23]["name"])

{'24-Hour Passes Purchased (midnight to 11:59 pm)': 23, '7-Day Passes Purchased (midnight to 11:59 pm)': 11, 'Cumulative trips (since launch)': 1, 'Trips over the past 24-hours (midnight to 11:59pm)': 23, '3-Day Passes Purchased (midnight to 11:59 pm)': 12, 'Annual Memberships Sold': 23, 'Date': 23, 'Miles traveled to date:': 13, 'Annual Member Sign-Ups (midnight to 11:59 pm)': 6, 'Cumulative trips (since launch):': 13, 'Miles traveled today (midnight to 11:59 pm)': 23, 'Miles traveled to date': 1}

In [86]:
reduced_dfs = [df[shared_columns] for df in data_frames]
merged_df = pd.concat(reduced_dfs)
merged_df = merged_df.sort_values("Date")
merged_df.head()

,24-Hour Passes Purchased (midnight to 11:59 pm),Trips over the past 24-hours (midnight to 11:59pm),Annual Memberships Sold,Date,Miles traveled today (midnight to 11:59 pm)
0,1237,16009,206624,1/1/17,50761.000
0,268,6559,95971,1/1/2014,9.254
0,267,5792,127279,1/1/2015,9191.000
0,919,11009,159362,1/1/2016,24429.000
0,123,5499,253490,1/1/2018,11483.000

0         1/1/17
0       1/1/2014
0       1/1/2015
0       1/1/2016
0       1/1/2018
0       1/1/2019
9        1/10/17
9      1/10/2014
9      1/10/2015
9      1/10/2016
9      1/10/2018
9      1/10/2019
10       1/11/17
10     1/11/2014
10     1/11/2015
10     1/11/2016
10     1/11/2018
10     1/11/2019
11       1/12/17
11     1/12/2014
11     1/12/2015
11     1/12/2016
11     1/12/2018
11     1/12/2019
12       1/13/17
12     1/13/2014
12     1/13/2015
12     1/13/2016
12     1/13/2018
12     1/13/2019
         ...
66        9/5/16
66        9/5/17
66        9/5/18
101     9/5/2013
66      9/5/2014
66      9/5/2015
67        9/6/16
67        9/6/17
67        9/6/18
102     9/6/2013
67      9/6/2014
67      9/6/2015
68        9/7/16
68        9/7/17
68        9/7/18
103     9/7/2013
68      9/7/2014
68      9/7/2015
69        9/8/16
69        9/8/17
69        9/8/18
104     9/8/2013
69      9/8/2014
69      9/8/2015
70        9/9/16
70        9/9/17
70        9/9/18
105     9/9/2013
70      9/9/2014
70      9/9/2015
Name: Date, Length: 2118, dtype: object

In [ ]:
# How many trips have been recorded total during the chosen period?


# By what percentage has total ridership grown?
#Count

# How has the proportion of short-term customers and annual subscribers changed?

# What are the peak hours in which bikes are used during summer months?

# What are the peak hours in which bikes are used during winter months?

# Today, what are the top 10 stations in the city for starting a journey? (Based on data, why do you hypothesize these are the top locations?)

# Today, what are the top 10 stations in the city for ending a journey? (Based on data, why?)

# Today, what are the bottom 10 stations in the city for starting a journey? (Based on data, why?)

# Today, what are the bottom 10 stations in the city for ending a journey (Based on data, why?)

# Today, what is the gender breakdown of active participants (Male v. Female)?

# How effective has gender outreach been in increasing female ridership over the timespan?

# How does the average trip duration change by age?

# What is the average distance in miles that a bike is ridden?

# Which bikes (by ID) are most likely due for repair or inspection in the timespan?

# How variable is the utilization by bike ID?